html {
      box-sizing: border-box;
}

*, ::after, ::before {
      box-sizing: inherit;
}

.body {
      font-family: 'Merriweather', serif;
      margin: 0 auto;
      max-width: 1000px;
}

.js-body__changeBackground {
      background-color: black;
}

.js-body__changeFont {
      font-family: fantasy;
}