.nav {
      max-width: 100%;
      background-color: #eae6d7;
      font-weight: bold;
      padding: 5px 0px;
}

.nav__list {
      list-style: none;
      text-align: center;
      border-bottom: 1px solid black;
      border-radius: 30%;
}

.nav__listItem {
      margin: 10px 0px;
      padding-left: 15px;
      display: inline-block;
}

.nav__link {
      text-decoration: none;
      color: black;
}

.nav__link:hover {
      color: rgb(121, 116, 116);
}

.nav__link:active {
      color: rgb(124, 10, 10);
}